.SearchBar {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 15px;
  font-size: 16px;
}

.SearchBar input {
  display: inline-block;
  font-weight: 500;
  padding: 5px;
  margin-left: 8px;
  border-width: 2px;
  border-color: #f08080;
  background-color: #000;
  color: #fff;
  border-style: solid;
}

.SearchBar p {
  margin-left: 8px;
  display: inline-block;
}

.SearchBar div {
  display: inline-block;
}

#ChooseEpisode {
  display: inline-block;
  font-weight: 500;
  padding: 5px;
  border-width: 2px;
  border-color: #f08080;
  background-color: #000;
  color: #fff;
  border-style: solid;
}

.select-selected {
  border-color: #f08080;
  background-color: #000;
  color: #fff;
}
